In [2]:
import pandas as pd

In [3]:
data=pd.read_csv(r"Churn_Modelling.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
data.duplicated().sum()

0

In [7]:
data['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [8]:
data['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [9]:
data['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [4]:
data.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [5]:
df_transformed=pd.get_dummies(data,columns=['Geography', 'Gender'], drop_first=True, dtype='int')

In [15]:
df_transformed.head(3)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0

In [6]:
x=df_transformed.drop('Exited',axis=1)
y=df_transformed['Exited']

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [7]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [19]:
x_train

array([[ 0.35649971, -0.6557859 ,  0.34567966, ..., -0.57946723,
        -0.57638802,  0.91324755],
       [-0.20389777,  0.29493847, -0.3483691 , ...,  1.72572313,
        -0.57638802,  0.91324755],
       [-0.96147213, -1.41636539, -0.69539349, ..., -0.57946723,
         1.73494238,  0.91324755],
       ...,
       [ 0.86500853, -0.08535128, -1.38944225, ..., -0.57946723,
        -0.57638802, -1.09499335],
       [ 0.15932282,  0.3900109 ,  1.03972843, ..., -0.57946723,
        -0.57638802,  0.91324755],
       [ 0.47065475,  1.15059039, -1.38944225, ...,  1.72572313,
        -0.57638802,  0.91324755]])

In [20]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [21]:
model= Sequential()
model.add(Dense(32,activation='relu',input_dim=11))
model.add(Dropout(0.2))
model.add(Dense(32,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(16,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1,activation='sigmoid'))

/home/codespace/.python/current/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [11]:
model.summary()

Model: "sequential"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 32)                        384

 dense_1 (Dense)                  (None, 32)                      1,056

 dense_2 (Dense)                  (None, 16)                        528

 dense_3 (Dense)                  (None, 1)                          17

 Total params: 1,985 (7.75 KB)

 Trainable params: 1,985 (7.75 KB)

 Non-trainable params: 0 (0.00 B)

In [22]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [23]:
from tensorflow.keras.callbacks import EarlyStopping
early_stop=EarlyStopping(monitor='val_loss', patience=20)
model.fit(x_train,y_train,batch_size=32,epochs=200,verbose=1,validation_split=0.2,callbacks=[early_stop])

Epoch 1/200

200/200  2s 2ms/step - accuracy: 0.7711 - loss: 0.5452 - val_accuracy: 0.7987 - val_loss: 0.4440
Epoch 2/200
200/200  0s 1ms/step - accuracy: 0.7932 - loss: 0.4666 - val_accuracy: 0.8112 - val_loss: 0.4236
Epoch 3/200
200/200  0s 1ms/step - accuracy: 0.7944 - loss: 0.4580 - val_accuracy: 0.8281 - val_loss: 0.4083
Epoch 4/200
200/200  0s 1ms/step - accuracy: 0.8038 - loss: 0.4538 - val_accuracy: 0.8413 - val_loss: 0.3966
Epoch 5/200
200/200  0s 1ms/step - accuracy: 0.8248 - loss: 0.4208 - val_accuracy: 0.8456 - val_loss: 0.3861
Epoch 6/200
200/200  0s 1ms/step - accuracy: 0.8273 - loss: 0.4064 - val_accuracy: 0.8531 - val_loss: 0.3690
Epoch 7/200
200/200  0s 1ms/step - accuracy: 0.8410 - loss: 0.3939 - val_accuracy: 0.8512 - val_loss: 0.3645
Epoch 8/200
200/200  0s 1ms/step - accuracy: 0.8441 - loss: 0.3864 - val_accuracy: 0.8562 - val_loss: 0.3575
Epoch 9/200
200/200  0s 1ms/step - accuracy: 0.8378 - loss: 0.3972 - val_accuracy: 0.8531 - val_loss: 0.3544
Epoch 10/200
200/200  0s 1ms/step - accuracy: 0.8404 - loss: 0.3964 - val_accuracy: 0.8531 - val_loss: 0.3516
Epoch 11/200
200/200  0s 1ms/step - accuracy: 0.8401 - loss: 0.3770 - val_accuracy: 0.8581 - val_loss: 0.3510
Epoch 12/200
200/200  0s 2ms/step - accuracy: 0.8485 - loss: 0.3676 - val_accuracy: 0.8575 - val_loss: 0.3510
Epoch 13/200
200/200  1s 1ms/step - accuracy: 0.8520 - loss: 0.3579 - val_accuracy: 0.8581 - val_loss: 0.3488
Epoch 14/200
200/200  0s 1ms/step - accuracy: 0.8531 - loss: 0.3673 - val_accuracy: 0.8594 - val_loss: 0.3480
Epoch 15/200
200/200  0s 1ms/step - accuracy: 0.8504 - loss: 0.3598 - val_accuracy: 0.8581 - val_loss: 0.3473
Epoch 16/200
200/200  0s 2ms/step - accuracy: 0.8534 - loss: 0.3585 - val_accuracy: 0.8581 - val_loss: 0.3457
Epoch 17/200
200/200  0s 1ms/step - accuracy: 0.8504 - loss: 0.3694 - val_accuracy: 0.8556 - val_loss: 0.3448
Epoch 18/200
200/200  0s 1ms/step - accuracy: 0.8546 - loss: 0.3524 - val_accuracy: 0.8531 - val_loss: 0.3444
Epoch 19/200
200/200  0s 1ms/step - accuracy: 0.8441 - loss: 0.3724 - val_accuracy: 0.8531 - val_loss: 0.3431
Epoch 20/200
200/200  0s 1ms/step - accuracy: 0.8535 - loss: 0.3519 - val_accuracy: 0.8544 - val_loss: 0.3432
Epoch 21/200
200/200  0s 1ms/step - accuracy: 0.8601 - loss: 0.3553 - val_accuracy: 0.8569 - val_loss: 0.3435
Epoch 22/200
200/200  0s 1ms/step - accuracy: 0.8664 - loss: 0.3390 - val_accuracy: 0.8575 - val_loss: 0.3429
Epoch 23/200
200/200  0s 1ms/step - accuracy: 0.8623 - loss: 0.3469 - val_accuracy: 0.8575 - val_loss: 0.3435
Epoch 24/200
200/200  0s 2ms/step - accuracy: 0.8553 - loss: 0.3602 - val_accuracy: 0.8581 - val_loss: 0.3408
Epoch 25/200
200/200  0s 1ms/step - accuracy: 0.8626 - loss: 0.3384 - val_accuracy: 0.8556 - val_loss: 0.3405
Epoch 26/200
200/200  0s 2ms/step - accuracy: 0.8584 - loss: 0.3429 - val_accuracy: 0.8562 - val_loss: 0.3425
Epoch 27/200
200/200  1s 1ms/step - accuracy: 0.8569 - loss: 0.3500 - val_accuracy: 0.8537 - val_loss: 0.3419
Epoch 28/200
200/200  0s 2ms/step - accuracy: 0.8605 - loss: 0.3415 - val_accuracy: 0.8594 - val_loss: 0.3437
Epoch 29/200
200/200  0s 1ms/step - accuracy: 0.8575 - loss: 0.3534 - val_accuracy: 0.8569 - val_loss: 0.3401
Epoch 30/200
200/200  0s 1ms/step - accuracy: 0.8551 - loss: 0.3495 - val_accuracy: 0.8637 - val_loss: 0.3419
Epoch 31/200
200/200  0s 2ms/step - accuracy: 0.8592 - loss: 0.3512 - val_accuracy: 0.8612 - val_loss: 0.3412
Epoch 32/200
200/200  0s 1ms/step - accuracy: 0.8530 - loss: 0.3493 - val_accuracy: 0.8569 - val_loss: 0.3427
Epoch 33/200
200/200  0s 1ms/step - accuracy: 0.8562 - loss: 0.3460 - val_accuracy: 0.8556 - val_loss: 0.3416
Epoch 34/200
200/200  0s 2ms/step - accuracy: 0.8533 - loss: 0.3496 - val_accuracy: 0.8575 - val_loss: 0.3429
Epoch 35/200
200/200  1s 1ms/step - accuracy: 0.8636 - loss: 0.3337 - val_accuracy: 0.8556 - val_loss: 0.3451
Epoch 36/200
200/200  0s 1ms/step - accuracy: 0.8587 - loss: 0.3474 - val_accuracy: 0.8556 - val_loss: 0.3435
Epoch 37/200
200/200  0s 1ms/step - accuracy: 0.8665 - loss: 0.3424 - val_accuracy: 0.8562 - val_loss: 0.3432
Epoch 38/200
200/200  0s 1ms/step - accuracy: 0.8586 - loss: 0.3349 - val_accuracy: 0.8550 - val_loss: 0.3447
Epoch 39/200
200/200  1s 1ms/step - accuracy: 0.8654 - loss: 0.3320 - val_accuracy: 0.8519 - val_loss: 0.3424
Epoch 40/200
200/200  0s 1ms/step - accuracy: 0.8652 - loss: 0.3432 - val_accuracy: 0.8500 - val_loss: 0.3443
Epoch 41/200
200/200  0s 2ms/step - accuracy: 0.8673 - loss: 0.3206 - val_accuracy: 0.8556 - val_loss: 0.3416
Epoch 42/200
200/200  0s 1ms/step - accuracy: 0.8603 - loss: 0.3344 - val_accuracy: 0.8544 - val_loss: 0.3401
Epoch 43/200
200/200  0s 1ms/step - accuracy: 0.8590 - loss: 0.3328 - val_accuracy: 0.8550 - val_loss: 0.3410
Epoch 44/200
200/200  0s 1ms/step - accuracy: 0.8620 - loss: 0.3393 - val_accuracy: 0.8544 - val_loss: 0.3409
Epoch 45/200
200/200  0s 1ms/step - accuracy: 0.8623 - loss: 0.3384 - val_accuracy: 0.8569 - val_loss: 0.3418
Epoch 46/200
200/200  0s 2ms/step - accuracy: 0.8579 - loss: 0.3405 - val_accuracy: 0.8556 - val_loss: 0.3426
Epoch 47/200
200/200  0s 1ms/step - accuracy: 0.8582 - loss: 0.3441 - val_accuracy: 0.8587 - val_loss: 0.3431
Epoch 48/200
200/200  0s 1ms/step - accuracy: 0.8609 - loss: 0.3357 - val_accuracy: 0.8544 - val_loss: 0.3419
Epoch 49/200
200/200  0s 1ms/step - accuracy: 0.8646 - loss: 0.3321 - val_accuracy: 0.8544 - val_loss: 0.3421
Epoch 50/200
200/200  0s 1ms/step - accuracy: 0.8698 - loss: 0.3325 - val_accuracy: 0.8537 - val_loss: 0.3418
Epoch 51/200
200/200  0s 2ms/step - accuracy: 0.8528 - loss: 0.3446 - val_accuracy: 0.8531 - val_loss: 0.3412
Epoch 52/200
200/200  1s 1ms/step - accuracy: 0.8682 - loss: 0.3317 - val_accuracy: 0.8575 - val_loss: 0.3428
Epoch 53/200
200/200  0s 1ms/step - accuracy: 0.8640 - loss: 0.3255 - val_accuracy: 0.8575 - val_loss: 0.3423
Epoch 54/200
200/200  0s 1ms/step - accuracy: 0.8686 - loss: 0.3254 - val_accuracy: 0.8587 - val_loss: 0.3428
Epoch 55/200
200/200  0s 1ms/step - accuracy: 0.8650 - loss: 0.3412 - val_accuracy: 0.8556 - val_loss: 0.3446
Epoch 56/200
200/200  0s 1ms/step - accuracy: 0.8713 - loss: 0.3268 - val_accuracy: 0.8600 - val_loss: 0.3425
Epoch 57/200
200/200  0s 1ms/step - accuracy: 0.8624 - loss: 0.3317 - val_accuracy: 0.8562 - val_loss: 0.3463
Epoch 58/200
200/200  0s 1ms/step - accuracy: 0.8689 - loss: 0.3267 - val_accuracy: 0.8550 - val_loss: 0.3443
Epoch 59/200
200/200  0s 1ms/step - accuracy: 0.8651 - loss: 0.3289 - val_accuracy: 0.8537 - val_loss: 0.3446
Epoch 60/200
200/200  0s 1ms/step - accuracy: 0.8721 - loss: 0.3195 - val_accuracy: 0.8556 - val_loss: 0.3431
Epoch 61/200
200/200  0s 1ms/step - accuracy: 0.8692 - loss: 0.3268 - val_accuracy: 0.8537 - val_loss: 0.3444
Epoch 62/200
200/200  0s 2ms/step - accuracy: 0.8611 - loss: 0.3358 - val_accuracy: 0.8525 - val_loss: 0.3446

In [24]:
y_log=model.predict(x_test)

63/63  0s 1ms/step

In [25]:
import numpy as np
y_pred=np.where(y_log>0.5,1,0)

In [26]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.861